<a href="https://colab.research.google.com/github/PatrickMarinich/Miscellaneous/blob/main/Webscraping_via_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#Mario Kart World Record Times
import pandas as pd
url_to_scrape = 'https://www.mkleaderboards.com/mkw/world_records/nonsc/'
dfs = pd.read_html(url_to_scrape)
df = dfs[0]
dfTrackTime = df[df.columns.difference([0,2,5,6,7])]
print(dfTrackTime)

                          1           3         4
0                     Track      Player     Score
1             Luigi Circuit        Cole  1:08.774
2           Moo Moo Meadows       Sosis  1:15.483
3            Mushroom Gorge      Connor  1:40.741
4            Toad's Factory       Logan  1:49.197
5             Mario Circuit         Guy  1:20.357
6              Coconut Mall     Braixen  1:55.573
7      DK's Snowboard Cross     Blake G  1:45.210
8         Wario's Gold Mine  Vincent B.  1:50.579
9             Daisy Circuit        Luke  1:28.425
10               Koopa Cape        Luke  2:17.937
11            Maple Treeway       Demon  2:14.507
12          Grumble Volcano      Barney  1:51.384
13            Dry Dry Ruins      Justin  1:46.972
14         Moonview Highway        Luke  1:43.035
15          Bowser's Castle        Zeke  2:20.524
16             Rainbow Road       Kaede  2:24.589
17          GCN Peach Beach       Kasey  1:12.678
18           DS Yoshi Falls       David    58.648
19      SNES Ghost Valley 2       Sosis    52.775
20        N64 Mario Raceway       Sosis  1:41.198
21         N64 Sherbet Land       Sosis  2:03.750
22        GBA Shy Guy Beach       Sosis  1:21.496
23        DS Delfino Square        Luke  2:03.525
24      GCN Waluigi Stadium      Connor  1:48.433
25          DS Desert Hills       Sosis  1:34.397
26      GBA Bowser Castle 3        Luke  2:16.366
27  N64 DK's Jungle Parkway        Luke  2:11.117
28        GCN Mario Circuit        Luke  1:30.513
29     SNES Mario Circuit 3        Luke  1:17.889
30         DS Peach Gardens    KingAlex  1:58.986
31          GCN DK Mountain       Logan  2:04.775
32      N64 Bowser's Castle        Luke  2:30.637

In [16]:
## TJ Watt Stats
import pandas as pd
url_to_scrape = 'https://www.pro-football-reference.com/players/W/WattT.00.htm'
dfs = pd.read_html(url_to_scrape)
df = dfs[1]
print(df)
print("Career Stats")
print(df.loc[5])

  Unnamed: 0_level_0 Unnamed: 1_level_0  ... Unnamed: 23_level_0 Unnamed: 24_level_0
                Year                Age  ...                Sfty                  AV
0               2017                 23  ...                 NaN                   7
1              2018*                 24  ...                 NaN                  11
2             2019*+                 25  ...                 NaN                  14
3             2020*+                 26  ...                 NaN                  18
4             2021*+                 27  ...                 NaN                  15
5             Career             Career  ...                 NaN                  65

[6 rows x 25 columns]
Career Stats
Unnamed: 0_level_0   Year      Career
Unnamed: 1_level_0   Age       Career
Unnamed: 2_level_0   Tm           NaN
Unnamed: 3_level_0   Pos          NaN
Unnamed: 4_level_0   No.          NaN
Games                G             77
                     GS            77
Def Interceptions    Int            4
                     Yds           24
                     TD             0
                     Lng           17
                     PD            32
Fumbles              FF            22
                     Fmb            0
                     FR             7
                     Yds            1
                     TD             0
Unnamed: 17_level_0  Sk            72
Tackles              Comb         294
                     Solo         216
                     Ast           78
                     TFL           80
                     QBHits       150
Unnamed: 23_level_0  Sfty         NaN
Unnamed: 24_level_0  AV            65
Name: 5, dtype: object

In [17]:
## Minkah FitzPatrick Stats
import pandas as pd
url_to_scrape = 'https://www.pro-football-reference.com/players/F/FitzMi00.htm'
dfs = pd.read_html(url_to_scrape)
df = dfs[1]
print(df)
print("Career Stats")
print(df.loc[6])

  Unnamed: 0_level_0 Unnamed: 1_level_0  ... Unnamed: 23_level_0 Unnamed: 24_level_0
                Year                Age  ...                Sfty                  AV
0               2018                 22  ...                 NaN                   4
1             2019*+                 23  ...                 NaN                  16
2                 *+                NaN  ...                 NaN                   1
3                 *+                NaN  ...                 NaN                  15
4             2020*+                 24  ...                 NaN                  14
5               2021                 25  ...                 NaN                   6
6             Career             Career  ...                 NaN                  40
7              3 yrs              3 yrs  ...                 NaN                  35
8              2 yrs              2 yrs  ...                 NaN                   5

[9 rows x 25 columns]
Career Stats
Unnamed: 0_level_0   Year      Career
Unnamed: 1_level_0   Age       Career
Unnamed: 2_level_0   Tm           NaN
Unnamed: 3_level_0   Pos          NaN
Unnamed: 4_level_0   No.          NaN
Games                G             64
                     GS            59
Def Interceptions    Int           13
                     Yds          289
                     TD             3
                     Lng           96
                     PD            36
Fumbles              FF             4
                     Fmb            0
                     FR             5
                     Yds           77
                     TD             1
Unnamed: 17_level_0  Sk             0
Tackles              Comb         352
                     Solo         239
                     Ast          113
                     TFL            5
                     QBHits         1
Unnamed: 23_level_0  Sfty         NaN
Unnamed: 24_level_0  AV            40
Name: 6, dtype: object

In [18]:
## Arron Rodgers Stats
import pandas as pd
url_to_scrape = 'https://www.pro-football-reference.com/players/R/RodgAa00.htm'
dfs = pd.read_html(url_to_scrape)
df = dfs[1]
print(df)
print("Career Stats")
print(df.loc[17])

      Year     Age   Tm  Pos   No.    G  ...   Sk%  NY/A  ANY/A   4QC   GWD   AV
0     2005      22  GNB  NaN  12.0    3  ...  15.8  1.95  -0.42   NaN   NaN    0
1     2006      23  GNB  NaN  12.0    2  ...  16.7  1.56   1.56   NaN   NaN    0
2     2007      24  GNB  NaN  12.0    2  ...   9.7  6.26   6.90   NaN   NaN    1
3     2008      25  GNB   QB  12.0   16  ...   6.0  6.68   6.64   1.0   2.0   15
4    2009*      26  GNB   QB  12.0   16  ...   8.5  6.98   7.47   2.0   2.0   19
5     2010      27  GNB   QB  12.0   15  ...   6.1  7.37   7.50   0.0   1.0   15
6   2011*+      28  GNB   QB  12.0   15  ...   6.7  8.22   9.39   0.0   1.0   23
7    2012*      29  GNB   QB  12.0   16  ...   8.5  6.64   7.33   2.0   3.0   16
8     2013      30  GNB   QB  12.0    9  ...   6.8  7.78   8.00   1.0   1.0    9
9   2014*+      31  GNB   QB  12.0   16  ...   5.1  7.68   8.65   1.0   1.0   22
10   2015*      32  GNB   QB  12.0   16  ...   7.4  5.67   6.10   2.0   2.0   14
11   2016*      33  GNB   QB  12.0   16  ...   5.4  6.48   7.24   0.0   2.0   18
12    2017      34  GNB   qb  12.0    7  ...   8.5  5.80   5.99   2.0   2.0    6
13   2018*      35  GNB   QB  12.0   16  ...   7.6  6.33   6.96   3.0   3.0   13
14   2019*      36  GNB   QB  12.0   16  ...   6.0  6.15   6.71   2.0   3.0   14
15  2020*+      37  GNB   QB  12.0   16  ...   3.7  7.54   8.89   1.0   2.0   18
16  2021*+      38  GNB   QB  12.0   16  ...   5.3  7.00   8.00   1.0   2.0   15
17  Career  Career  NaN  NaN   NaN  213  ...   6.5  6.83   7.46  18.0  27.0  218

[18 rows x 32 columns]
Career Stats
Year       Career
Age        Career
Tm            NaN
Pos           NaN
No.           NaN
G             213
GS            206
QBrec    139-66-1
Cmp          4651
Att          7118
Cmp%         65.3
Yds         55360
TD            449
TD%           6.3
Int            93
Int%          1.3
1D           2639
Lng            93
Y/A           7.8
AY/A          8.5
Y/C          11.9
Y/G         259.9
Rate        104.5
QBR           NaN
Sk            498
Yds.1        3338
Sk%           6.5
NY/A         6.83
ANY/A        7.46
4QC            18
GWD            27
AV            218
Name: 17, dtype: object

In [19]:
#Mike Trout stats, includes minor leagues
import pandas as pd
url = 'https://www.baseball-reference.com/players/t/troutmi01.shtml'
dfs = pd.read_html(url)
df = dfs[0]
print(df)
print("2016 Stats")
print(df.loc[[9]])

             Year            Age  ...     Pos               Awards
0            2009             17  ...     NaN  ANG,CDR · ARIZ,MIDW
1            2010             18  ...     NaN  CDR,RCU · MIDW,CALL
2            2011             19  ...     NaN             ARK · TL
3            2011             19  ...  897/HD                  NaN
4            2012             20  ...     NaN            SLK · PCL
5            2012             20  ...  *87/9H    AS,MVP-2,RoY-1,SS
6            2013             21  ...   *87/D          AS,MVP-2,SS
7            2014             22  ...    *8/D          AS,MVP-1,SS
8            2015             23  ...    *8/D          AS,MVP-2,SS
9            2016             24  ...   *8D/H          AS,MVP-1,SS
10           2017             25  ...     NaN           SBR · CALL
11           2017             25  ...     8/D             AS,MVP-4
12           2018             26  ...   *8D/H          AS,MVP-2,SS
13           2019             27  ...   *8D/H          AS,MVP-1,SS
14           2020             28  ...    *8/D             MVP-5,SS
15           2021             29  ...       8                   AS
16         11 Yrs         11 Yrs  ...     NaN                  NaN
17  162 Game Avg.  162 Game Avg.  ...     NaN                  NaN

[18 rows x 30 columns]
2016 Stats
   Year Age   Tm  Lg    G   PA   AB  ...  GDP  HBP  SH  SF  IBB    Pos       Awards
9  2016  24  LAA  AL  159  681  549  ...    5   11   0   5   12  *8D/H  AS,MVP-1,SS

[1 rows x 30 columns]

In [20]:
#Derek Jeter, includes minor leagues
import pandas as pd
url = 'https://www.baseball-reference.com/players/j/jeterde01.shtml'
dfs = pd.read_html(url)
df = dfs[0]
print(df)
print("2009 Stats")
print(df.loc[[21]])

             Year            Age  ...    Pos                    Awards
0            1992             18  ...    NaN       YNK,GBO · GULF,SALL
1            1993             19  ...    NaN                GBO · SALL
2            1994             20  ...    NaN  TAM,CLB,ALC · FLOR,IL,EL
3            1995             21  ...    NaN                  CLB · IL
4            1995             21  ...      6                       NaN
5            1996             22  ...     *6                     RoY-1
6            1997             23  ...     *6                    MVP-24
7            1998             24  ...    NaN                  CLB · IL
8            1998             24  ...   *6/H                  AS,MVP-3
9            1999             25  ...     *6                  AS,MVP-6
10           2000             26  ...    NaN                TAM · FLOR
11           2000             26  ...     *6                 AS,MVP-10
12           2001             27  ...     *6                 AS,MVP-10
13           2002             28  ...   *6/D                        AS
14           2003             29  ...    NaN                  TRE · EL
15           2003             29  ...   *6/H                    MVP-21
16           2004             30  ...     *6              AS,MVP-13,GG
17           2005             31  ...  *6/DH                 MVP-10,GG
18           2006             32  ...   *6/D            AS,MVP-2,GG,SS
19           2007             33  ...   *6/H              AS,MVP-11,SS
20           2008             34  ...   *6/D                     AS,SS
21           2009             35  ...  *6/DH            AS,MVP-3,GG,SS
22           2010             36  ...  *6/DH                     AS,GG
23           2011             37  ...    NaN                  TRE · EL
24           2011             37  ...    *6D                        AS
25           2012             38  ...    *6D               AS,MVP-7,SS
26           2013             39  ...    NaN                  SWB · IL
27           2013             39  ...    6/D                       NaN
28           2014             40  ...  *6D/H                        AS
29         20 Yrs         20 Yrs  ...    NaN                       NaN
30  162 Game Avg.  162 Game Avg.  ...    NaN                       NaN
31            NaN            NaN  ...    Pos                    Awards

[32 rows x 30 columns]
2009 Stats
    Year Age   Tm  Lg    G   PA   AB  ... GDP HBP SH SF IBB    Pos          Awards
21  2009  35  NYY  AL  153  716  634  ...  18   5  4  1   4  *6/DH  AS,MVP-3,GG,SS

[1 rows x 30 columns]